In [1]:
import pandas as pd
import numpy as np

In [3]:
weather=pd.read_csv("C://Users//nisha//Downloads//weather-1.csv")
estate=pd.read_csv("C://Users//nisha//Downloads//Real Estate Data V21.csv")
disaster=pd.read_csv("C://Users//nisha//Downloads//Natural_Disasters_in_India .csv")

In [5]:
weather

,State/UT,District,Temperature (°C),Condition,Humidity (%),Wind Speed (km/h),Last Updated
0,Andhra Pradesh,Anantapur,22.1,Clear,64,14.4,2025-01-23 23:00:00
1,Andhra Pradesh,Chittoor,18.5,Clear,93,4.0,2025-01-23 23:00:00
2,Andhra Pradesh,East Godavari,19.4,Clear,86,3.6,2025-01-23 23:00:00
3,Andhra Pradesh,Guntur,22.3,Mist,88,5.4,2025-01-23 23:00:00
4,Andhra Pradesh,Krishna,22.3,Mist,88,10.8,2025-01-23 23:00:00
...,...,...,...,...,...,...,...
1147,Delhi,South West Delhi,18.1,Cloudy,40,18.0,2025-01-20 00:00:00
1148,Puducherry,Karaikal,24.9,Light rain shower,81,25.9,2025-01-20 00:00:00
1149,Puducherry,Mahe,26.2,Partly cloudy,74,18.4,2025-01-20 00:00:00
1150,Puducherry,Puducherry,24.8,Sunny,76,26.3,2025-01-20 00:00:00
1151,Puducherry,Yanam,23.6,Sunny,65,15.5,2025-01-20 00:00:00

In [11]:
print(estate.columns)
print(weather.columns)
print(disaster.columns)

Index(['Name', 'Property Title', 'Price', 'Location', 'Total_Area',
       'Price_per_SQFT', 'Description', 'Baths', 'Balcony'],
      dtype='object')
Index(['State/UT', 'District', 'Temperature (°C)', 'Condition', 'Humidity (%)',
       'Wind Speed (km/h)', 'Last Updated'],
      dtype='object')
Index(['Unnamed: 0', 'Title', 'Duration', 'Year', 'Disaster_Info', 'Date'], dtype='object')

In [14]:
estate

,Name,Property Title,Price,Location,Total_Area,Price_per_SQFT,Description,Baths,Balcony
0,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes
1,"Ramanathan Nagar, Pozhichalur,Chennai",10 BHK Independent House for sale in Pozhichal...,₹2.25 Cr,"Ramanathan Nagar, Pozhichalur,Chennai",7000,3210.0,Looking for a 10 BHK Independent House for sal...,6,Yes
2,DAC Prapthi,"3 BHK Flat for sale in West Tambaram, Chennai",₹1.0 Cr,"Kasthuribai Nagar, West Tambaram,Chennai",1320,7580.0,"Property for sale in Tambaram, Chennai. This 3...",3,No
3,"Naveenilaya,Chepauk, Triplicane,Chennai",7 BHK Independent House for sale in Triplicane...,₹3.33 Cr,"Naveenilaya,Chepauk, Triplicane,Chennai",4250,7840.0,Entire Building for sale with 7 units of singl...,5,Yes
4,VGN Spring Field Phase 1,"2 BHK Flat for sale in Avadi, Chennai",₹48.0 L,"Avadi, Chennai",960,5000.0,"Property for sale in Avadi, Chennai. This 2 BH...",3,Yes
...,...,...,...,...,...,...,...,...,...
14523,"Krishna Park Extension, Tilak Nagar,New Delhi","2 BHK Flat for sale in Tilak Nagar, New Delhi",₹40.0 L,"Krishna Park Extension, Tilak Nagar,New Delhi",1053,3800.0,Looking for a good 2 BHK Apartment in Tilak Na...,3,Yes
14524,"Rawta, Jaffarpur Kalan,New Delhi",1 BHK Independent House for sale in Jaffarpur ...,₹14.0 L,"Rawta, Jaffarpur Kalan,New Delhi",472,2970.0,1 BHK Independent House for sale in Jaffarpur ...,2,Yes
14525,"Rani Garden, Geeta Colony,New Delhi","1 BHK Flat for sale in Geeta Colony, New Delhi",₹30.0 L,"Rani Garden, Geeta Colony,New Delhi",378,7940.0,"Property for sale in Geeta Colony, Delhi. This...",1,Yes
14526,"Lig flat rohini,Sector 16E, Sector 16 Rohini,N...","3 BHK Flat for sale in Sector 16 Rohini, New D...",₹60.0 L,"Lig flat rohini,Sector 16E, Sector 16 Rohini,N...",700,8570.0,Check out this 3 BHK Apartment for sale in Roh...,2,Yes
14527,"Sector 3B, Sector 3 Rohini,New Delhi",1 RK Independent House for sale in Sector 3 Ro...,₹55.0 L,"Sector 3B, Sector 3 Rohini,New Delhi",344,15990.0,This is an independent DDA house(in raw condit...,1,Yes

In [16]:
weather.columns

Index(['State/UT', 'District', 'Temperature (°C)', 'Condition', 'Humidity (%)',
       'Wind Speed (km/h)', 'Last Updated'],
      dtype='object')

In [18]:
disaster

,Unnamed: 0,Title,Duration,Year,Disaster_Info,Date
0,0,1990 Andhra Pradesh cyclone,4 May,1990,the andhra pradesh cyclone or the machilipat...,1990-05-04
1,1,Indian Airlines Flight 605,14 February,1990,indian airlines flight was a scheduled domest...,1990-02-14
2,3,1991 Uttarkashi earthquake,20 October,1991,the uttarkashi earthquake also known as the g...,1991-10-20
3,4,1992 India–Pakistan floods,7 September,1992,the india–pakistan floods was a deadliest flo...,1992-09-07
4,5,Mahamaham stampede,18 February,1992,mahamaham stampede was a disaster that occurre...,1992-02-18
...,...,...,...,...,...,...
202,209,Cyclone Tauktae,14 May,2021,extremely severe cyclonic storm tauktae burmes...,2021-05-14
203,210,Cyclone Yaas,23 May,2021,very severe cyclonic storm yaas arabic pronunc...,2021-05-23
204,211,Maharashtra floods,22 July - present,2021,a series of floods took place across the india...,2021-07-22
205,212,Saurashtra flood,September,2021,following heavy rain in september the saurash...,2021-09-01
206,213,Saurashtra flood,September,2021,cyclones gulab and shaheen were two related co...,2021-09-01

In [20]:
print(disaster.columns)
print(estate.columns)
print(weather.columns)

Index(['Unnamed: 0', 'Title', 'Duration', 'Year', 'Disaster_Info', 'Date'], dtype='object')
Index(['Name', 'Property Title', 'Price', 'Location', 'Total_Area',
       'Price_per_SQFT', 'Description', 'Baths', 'Balcony'],
      dtype='object')
Index(['State/UT', 'District', 'Temperature (°C)', 'Condition', 'Humidity (%)',
       'Wind Speed (km/h)', 'Last Updated'],
      dtype='object')

In [22]:
def extract_city(location):
    if pd.isna(location):
        return None
    parts = [p.strip() for p in location.split(",")]
    return parts[-1] if parts else None

estate['City'] = estate['Location'].apply(extract_city)

In [24]:
estate['City_clean'] =estate['City'].str.strip().str.lower()
weather['District_clean'] = weather['District'].str.strip().str.lower()

In [32]:
realestate_weather = pd.merge(estate,weather,left_on='City_clean',right_on='District_clean', how='left')

In [34]:
realestate_weather

,Name,Property Title,Price,Location,Total_Area,Price_per_SQFT,Description,Baths,Balcony,City,City_clean,State/UT,District,Temperature (°C),Condition,Humidity (%),Wind Speed (km/h),Last Updated,District_clean
0,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes,Chennai,chennai,Tamil Nadu,Chennai,25.2,Mist,79.0,12.6,2025-01-23 23:15:00,chennai
1,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes,Chennai,chennai,Tamil Nadu,Chennai,24.8,Patchy rain possible,70.0,16.6,2025-01-22 00:00:00,chennai
2,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes,Chennai,chennai,Tamil Nadu,Chennai,24.4,Partly cloudy,70.0,18.7,2025-01-21 00:00:00,chennai
3,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes,Chennai,chennai,Tamil Nadu,Chennai,24.8,Partly cloudy,73.0,20.9,2025-01-20 00:00:00,chennai
4,"Ramanathan Nagar, Pozhichalur,Chennai",10 BHK Independent House for sale in Pozhichal...,₹2.25 Cr,"Ramanathan Nagar, Pozhichalur,Chennai",7000,3210.0,Looking for a 10 BHK Independent House for sal...,6,Yes,Chennai,chennai,Tamil Nadu,Chennai,25.2,Mist,79.0,12.6,2025-01-23 23:15:00,chennai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27423,"Lig flat rohini,Sector 16E, Sector 16 Rohini,N...","3 BHK Flat for sale in Sector 16 Rohini, New D...",₹60.0 L,"Lig flat rohini,Sector 16E, Sector 16 Rohini,N...",700,8570.0,Check out this 3 BHK Apartment for sale in Roh...,2,Yes,New Delhi,new delhi,Delhi,New Delhi,18.6,Partly cloudy,40.0,17.6,2025-01-20 00:00:00,new delhi
27424,"Sector 3B, Sector 3 Rohini,New Delhi",1 RK Independent House for sale in Sector 3 Ro...,₹55.0 L,"Sector 3B, Sector 3 Rohini,New Delhi",344,15990.0,This is an independent DDA house(in raw condit...,1,Yes,New Delhi,new delhi,Delhi,New Delhi,15.3,Mist,72.0,9.4,2025-01-23 23:15:00,new delhi
27425,"Sector 3B, Sector 3 Rohini,New Delhi",1 RK Independent House for sale in Sector 3 Ro...,₹55.0 L,"Sector 3B, Sector 3 Rohini,New Delhi",344,15990.0,This is an independent DDA house(in raw condit...,1,Yes,New Delhi,new delhi,Delhi,New Delhi,19.2,Sunny,35.0,8.6,2025-01-22 00:00:00,new delhi
27426,"Sector 3B, Sector 3 Rohini,New Delhi",1 RK Independent House for sale in Sector 3 Ro...,₹55.0 L,"Sector 3B, Sector 3 Rohini,New Delhi",344,15990.0,This is an independent DDA house(in raw condit...,1,Yes,New Delhi,new delhi,Delhi,New Delhi,18.4,Sunny,33.0,14.4,2025-01-21 00:00:00,new delhi
27427,"Sector 3B, Sector 3 Rohini,New Delhi",1 RK Independent House for sale in Sector 3 Ro...,₹55.0 L,"Sector 3B, Sector 3 Rohini,New Delhi",344,15990.0,This is an independent DDA house(in raw condit...,1,Yes,New Delhi,new delhi,Delhi,New Delhi,18.6,Partly cloudy,40.0,17.6,2025-01-20 00:00:00,new delhi

In [36]:
states_list = weather['State/UT'].dropna().unique().tolist()
states_list_lower = [s.lower() for s in states_list]

In [38]:
def extract_state_from_title(title):
    title_lower = title.lower()
    for state in states_list_lower:
        if state in title_lower:
            return state.title()
    return None

disaster['State_Match'] = disaster['Title'].apply(extract_state_from_title)

In [40]:
realestate_weather['State_clean'] = realestate_weather['State/UT'].str.strip().str.title()

In [42]:
merged_df = pd.merge(realestate_weather,disaster,left_on='State_clean',right_on='State_Match',how='left')

In [44]:
merged_df

,Name,Property Title,Price,Location,Total_Area,Price_per_SQFT,Description,Baths,Balcony,City,...,Last Updated,District_clean,State_clean,Unnamed: 0,Title,Duration,Year,Disaster_Info,Date,State_Match
0,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes,Chennai,...,2025-01-23 23:15:00,chennai,Tamil Nadu,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes,Chennai,...,2025-01-22 00:00:00,chennai,Tamil Nadu,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes,Chennai,...,2025-01-21 00:00:00,chennai,Tamil Nadu,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes,Chennai,...,2025-01-20 00:00:00,chennai,Tamil Nadu,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Ramanathan Nagar, Pozhichalur,Chennai",10 BHK Independent House for sale in Pozhichal...,₹2.25 Cr,"Ramanathan Nagar, Pozhichalur,Chennai",7000,3210.0,Looking for a 10 BHK Independent House for sal...,6,Yes,Chennai,...,2025-01-23 23:15:00,chennai,Tamil Nadu,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1732363,"Sector 3B, Sector 3 Rohini,New Delhi",1 RK Independent House for sale in Sector 3 Ro...,₹55.0 L,"Sector 3B, Sector 3 Rohini,New Delhi",344,15990.0,This is an independent DDA house(in raw condit...,1,Yes,New Delhi,...,2025-01-21 00:00:00,new delhi,Delhi,169.0,Delhi hotel fire,February 12,2019.0,a fire began at a budget hotel in central delh...,2019-02-12,Delhi
1732364,"Sector 3B, Sector 3 Rohini,New Delhi",1 RK Independent House for sale in Sector 3 Ro...,₹55.0 L,"Sector 3B, Sector 3 Rohini,New Delhi",344,15990.0,This is an independent DDA house(in raw condit...,1,Yes,New Delhi,...,2025-01-21 00:00:00,new delhi,Delhi,182.0,Delhi factory fire,December 8,2019.0,on december a fire occurred at a factory bui...,2019-12-08,Delhi
1732365,"Sector 3B, Sector 3 Rohini,New Delhi",1 RK Independent House for sale in Sector 3 Ro...,₹55.0 L,"Sector 3B, Sector 3 Rohini,New Delhi",344,15990.0,This is an independent DDA house(in raw condit...,1,Yes,New Delhi,...,2025-01-20 00:00:00,new delhi,Delhi,142.0,Smog in Delhi,Ongoing,2016.0,the air quality in delhi the capital territory...,2016-01-01,Delhi
1732366,"Sector 3B, Sector 3 Rohini,New Delhi",1 RK Independent House for sale in Sector 3 Ro...,₹55.0 L,"Sector 3B, Sector 3 Rohini,New Delhi",344,15990.0,This is an independent DDA house(in raw condit...,1,Yes,New Delhi,...,2025-01-20 00:00:00,new delhi,Delhi,169.0,Delhi hotel fire,February 12,2019.0,a fire began at a budget hotel in central delh...,2019-02-12,Delhi
1732367,"Sector 3B, Sector 3 Rohini,New Delhi",1 RK Independent House for sale in Sector 3 Ro...,₹55.0 L,"Sector 3B, Sector 3 Rohini,New Delhi",344,15990.0,This is an independent DDA house(in raw condit...,1,Yes,New Delhi,...,2025-01-20 00:00:00,new delhi,Delhi,182.0,Delhi factory fire,December 8,2019.0,on december a fire occurred at a factory bui...,2019-12-08,Delhi

In [46]:
merged_df.isnull().sum()

Name                       0
Property Title             0
Price                      0
Location                   0
Total_Area                 0
Price_per_SQFT             0
Description                0
Baths                      0
Balcony                    0
City                       0
City_clean                 0
State/UT             1697848
District             1697848
Temperature (°C)     1697848
Condition            1697848
Humidity (%)         1697848
Wind Speed (km/h)    1697848
Last Updated         1697848
District_clean       1697848
State_clean          1697848
Unnamed: 0              8540
Title                   8540
Duration                8540
Year                    8540
Disaster_Info           8540
Date                    8540
State_Match          1706388
dtype: int64

In [50]:
realestate_weather.isnull().sum()

Name                     0
Property Title           0
Price                    0
Location                 0
Total_Area               0
Price_per_SQFT           0
Description              0
Baths                    0
Balcony                  0
City                     0
City_clean               0
State/UT             10228
District             10228
Temperature (°C)     10228
Condition            10228
Humidity (%)         10228
Wind Speed (km/h)    10228
Last Updated         10228
District_clean       10228
State_clean          10228
dtype: int64

In [44]:
def assign_zone(location):
    location = str(location).lower()
    if "chennai" in location:
        return "coastal"
    elif "delhi" in location or "bangalore" in location or "hyderabad" in location:
        return "inland"
    elif "dehradun" in location or "shimla" in location or "manali" in location:
        return "mountain"
    else:
        return "inland"

In [46]:
estate["Zone"] = estate["Location"].apply(assign_zone)

In [48]:
estate

,Name,Property Title,Price,Location,Total_Area,Price_per_SQFT,Description,Baths,Balcony,Zone
0,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes,coastal
1,"Ramanathan Nagar, Pozhichalur,Chennai",10 BHK Independent House for sale in Pozhichal...,₹2.25 Cr,"Ramanathan Nagar, Pozhichalur,Chennai",7000,3210.0,Looking for a 10 BHK Independent House for sal...,6,Yes,coastal
2,DAC Prapthi,"3 BHK Flat for sale in West Tambaram, Chennai",₹1.0 Cr,"Kasthuribai Nagar, West Tambaram,Chennai",1320,7580.0,"Property for sale in Tambaram, Chennai. This 3...",3,No,coastal
3,"Naveenilaya,Chepauk, Triplicane,Chennai",7 BHK Independent House for sale in Triplicane...,₹3.33 Cr,"Naveenilaya,Chepauk, Triplicane,Chennai",4250,7840.0,Entire Building for sale with 7 units of singl...,5,Yes,coastal
4,VGN Spring Field Phase 1,"2 BHK Flat for sale in Avadi, Chennai",₹48.0 L,"Avadi, Chennai",960,5000.0,"Property for sale in Avadi, Chennai. This 2 BH...",3,Yes,coastal
...,...,...,...,...,...,...,...,...,...,...
14523,"Krishna Park Extension, Tilak Nagar,New Delhi","2 BHK Flat for sale in Tilak Nagar, New Delhi",₹40.0 L,"Krishna Park Extension, Tilak Nagar,New Delhi",1053,3800.0,Looking for a good 2 BHK Apartment in Tilak Na...,3,Yes,inland
14524,"Rawta, Jaffarpur Kalan,New Delhi",1 BHK Independent House for sale in Jaffarpur ...,₹14.0 L,"Rawta, Jaffarpur Kalan,New Delhi",472,2970.0,1 BHK Independent House for sale in Jaffarpur ...,2,Yes,inland
14525,"Rani Garden, Geeta Colony,New Delhi","1 BHK Flat for sale in Geeta Colony, New Delhi",₹30.0 L,"Rani Garden, Geeta Colony,New Delhi",378,7940.0,"Property for sale in Geeta Colony, Delhi. This...",1,Yes,inland
14526,"Lig flat rohini,Sector 16E, Sector 16 Rohini,N...","3 BHK Flat for sale in Sector 16 Rohini, New D...",₹60.0 L,"Lig flat rohini,Sector 16E, Sector 16 Rohini,N...",700,8570.0,Check out this 3 BHK Apartment for sale in Roh...,2,Yes,inland
14527,"Sector 3B, Sector 3 Rohini,New Delhi",1 RK Independent House for sale in Sector 3 Ro...,₹55.0 L,"Sector 3B, Sector 3 Rohini,New Delhi",344,15990.0,This is an independent DDA house(in raw condit...,1,Yes,inland

In [50]:
estate['Zone'].unique()

array(['coastal', 'inland'], dtype=object)

In [52]:
valid_zones = ["coastal", "inland", "mountain"]
estate["Zone"] = estate["Location"].apply(assign_zone)
filtered_real_estate_df =estate[estate["Zone"].isin(valid_zones)]

In [54]:
weather.columns

Index(['Temperature', 'Humidity', 'Wind Speed', 'Precipitation (%)',
       'Cloud Cover', 'Atmospheric Pressure', 'UV Index', 'Season',
       'Visibility (km)', 'Location', 'Weather Type'],
      dtype='object')

In [56]:
columns_to_keep = ["Name", "Property Title", "Price", "Location", "Total_Area", "Price_per_SQFT", "Zone"]
filtered_real_estate_df = filtered_real_estate_df[columns_to_keep]

In [58]:
weather_cols_to_keep = ['Temperature', 'Humidity', 'Wind Speed', 'Precipitation (%)',
       'Cloud Cover', 'Atmospheric Pressure', 'UV Index', 'Season',
       'Visibility (km)', 'Weather Type','Location']
filtered_weather_df = weather[weather_cols_to_keep]

In [60]:
weather_summary = weather.groupby("Location").mean(numeric_only=True).reset_index()

In [62]:
merged_df = pd.merge(estate,weather_summary , left_on="Zone", right_on="Location", how="left")

In [64]:
weather

,Temperature,Humidity,Wind Speed,Precipitation (%),Cloud Cover,Atmospheric Pressure,UV Index,Season,Visibility (km),Location,Weather Type
0,14.0,73,9.5,82.0,partly cloudy,1010.82,2,Winter,3.5,inland,Rainy
1,39.0,96,8.5,71.0,partly cloudy,1011.43,7,Spring,10.0,inland,Cloudy
2,30.0,64,7.0,16.0,clear,1018.72,5,Spring,5.5,mountain,Sunny
3,38.0,83,1.5,82.0,clear,1026.25,7,Spring,1.0,coastal,Sunny
4,27.0,74,17.0,66.0,overcast,990.67,1,Winter,2.5,mountain,Rainy
...,...,...,...,...,...,...,...,...,...,...,...
13195,10.0,74,14.5,71.0,overcast,1003.15,1,Summer,1.0,mountain,Rainy
13196,-1.0,76,3.5,23.0,cloudy,1067.23,1,Winter,6.0,coastal,Snowy
13197,30.0,77,5.5,28.0,overcast,1012.69,3,Autumn,9.0,coastal,Cloudy
13198,3.0,76,10.0,94.0,overcast,984.27,0,Winter,2.0,inland,Snowy
13199,-5.0,38,0.0,92.0,overcast,1015.37,5,Autumn,10.0,mountain,Rainy

In [66]:
merged_df['Temperature'].unique()

array([25.66563988, 16.82724252])

In [68]:
merged_df['Location_y'].unique()

array(['coastal', 'inland'], dtype=object)

In [70]:
weather['Temperature'].unique()

array([ 14.,  39.,  30.,  38.,  27.,  32.,  -2.,   3.,  28.,  35.,  12.,
       -10.,  24.,  10.,  33.,  43.,  13.,  -7.,  26.,   4.,  17.,  40.,
         2.,  15.,  29.,  11.,  -9.,  36.,  42.,  21.,  22.,  25.,  -4.,
        -1.,  -5.,  41.,  31.,  16.,  34.,  49.,  19.,  23.,  20.,  -3.,
        18.,   1.,   0.,  46.,  44., -13.,  -6.,  78.,  63.,  73.,   8.,
       -12., -24.,  -8.,  60.,  48.,   5.,  51., -14.,  50.,  37.,  54.,
        47.,  70.,   9.,  66., -16., -15.,  59.,  80., -19.,  52.,  45.,
         6., -18., -11.,  74.,  76.,  55., -20.,  57.,  91.,  82., -17.,
        61.,   7.,  53.,  65.,  77.,  67.,  64.,  58.,  68.,  72.,  62.,
        71.,  56., 107., -22.,  75.,  85.,  97.,  84., -21.,  92., -25.,
        81., 109.,  98.,  94.,  90., -23.,  88.,  99.,  69., 100.,  89.,
       102.,  86., 108.,  87.,  95.])

In [72]:
merged_df

,Name,Property Title,Price,Location_x,Total_Area,Price_per_SQFT,Description,Baths,Balcony,Zone,Location_y,Temperature,Humidity,Wind Speed,Precipitation (%),Atmospheric Pressure,UV Index,Visibility (km)
0,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes,coastal,coastal,25.665640,65.320919,9.525203,47.663400,1010.890865,4.724447,6.114674
1,"Ramanathan Nagar, Pozhichalur,Chennai",10 BHK Independent House for sale in Pozhichal...,₹2.25 Cr,"Ramanathan Nagar, Pozhichalur,Chennai",7000,3210.0,Looking for a 10 BHK Independent House for sal...,6,Yes,coastal,coastal,25.665640,65.320919,9.525203,47.663400,1010.890865,4.724447,6.114674
2,DAC Prapthi,"3 BHK Flat for sale in West Tambaram, Chennai",₹1.0 Cr,"Kasthuribai Nagar, West Tambaram,Chennai",1320,7580.0,"Property for sale in Tambaram, Chennai. This 3...",3,No,coastal,coastal,25.665640,65.320919,9.525203,47.663400,1010.890865,4.724447,6.114674
3,"Naveenilaya,Chepauk, Triplicane,Chennai",7 BHK Independent House for sale in Triplicane...,₹3.33 Cr,"Naveenilaya,Chepauk, Triplicane,Chennai",4250,7840.0,Entire Building for sale with 7 units of singl...,5,Yes,coastal,coastal,25.665640,65.320919,9.525203,47.663400,1010.890865,4.724447,6.114674
4,VGN Spring Field Phase 1,"2 BHK Flat for sale in Avadi, Chennai",₹48.0 L,"Avadi, Chennai",960,5000.0,"Property for sale in Avadi, Chennai. This 2 BH...",3,Yes,coastal,coastal,25.665640,65.320919,9.525203,47.663400,1010.890865,4.724447,6.114674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14523,"Krishna Park Extension, Tilak Nagar,New Delhi","2 BHK Flat for sale in Tilak Nagar, New Delhi",₹40.0 L,"Krishna Park Extension, Tilak Nagar,New Delhi",1053,3800.0,Looking for a good 2 BHK Apartment in Tilak Na...,3,Yes,inland,inland,16.827243,70.235257,10.076308,56.145349,1004.536742,3.780731,5.181167
14524,"Rawta, Jaffarpur Kalan,New Delhi",1 BHK Independent House for sale in Jaffarpur ...,₹14.0 L,"Rawta, Jaffarpur Kalan,New Delhi",472,2970.0,1 BHK Independent House for sale in Jaffarpur ...,2,Yes,inland,inland,16.827243,70.235257,10.076308,56.145349,1004.536742,3.780731,5.181167
14525,"Rani Garden, Geeta Colony,New Delhi","1 BHK Flat for sale in Geeta Colony, New Delhi",₹30.0 L,"Rani Garden, Geeta Colony,New Delhi",378,7940.0,"Property for sale in Geeta Colony, Delhi. This...",1,Yes,inland,inland,16.827243,70.235257,10.076308,56.145349,1004.536742,3.780731,5.181167
14526,"Lig flat rohini,Sector 16E, Sector 16 Rohini,N...","3 BHK Flat for sale in Sector 16 Rohini, New D...",₹60.0 L,"Lig flat rohini,Sector 16E, Sector 16 Rohini,N...",700,8570.0,Check out this 3 BHK Apartment for sale in Roh...,2,Yes,inland,inland,16.827243,70.235257,10.076308,56.145349,1004.536742,3.780731,5.181167
14527,"Sector 3B, Sector 3 Rohini,New Delhi",1 RK Independent House for sale in Sector 3 Ro...,₹55.0 L,"Sector 3B, Sector 3 Rohini,New Delhi",344,15990.0,This is an independent DDA house(in raw condit...,1,Yes,inland,inland,16.827243,70.235257,10.076308,56.145349,1004.536742,3.780731,5.181167

In [74]:
merged_df.isnull().sum()

Name                    0
Property Title          0
Price                   0
Location_x              0
Total_Area              0
Price_per_SQFT          0
Description             0
Baths                   0
Balcony                 0
Zone                    0
Location_y              0
Temperature             0
Humidity                0
Wind Speed              0
Precipitation (%)       0
Atmospheric Pressure    0
UV Index                0
Visibility (km)         0
dtype: int64

In [76]:
merged_df.columns

Index(['Name', 'Property Title', 'Price', 'Location_x', 'Total_Area',
       'Price_per_SQFT', 'Description', 'Baths', 'Balcony', 'Zone',
       'Location_y', 'Temperature', 'Humidity', 'Wind Speed',
       'Precipitation (%)', 'Atmospheric Pressure', 'UV Index',
       'Visibility (km)'],
      dtype='object')

In [78]:
merged_df.shape

(14528, 18)

In [80]:
weather.shape

(13200, 11)

In [82]:
estate.shape

(14528, 10)

In [92]:
merged = merged_df.drop(columns=["Location_y"])
merged = merged_df.rename(columns={"Location_x": "Location"})

In [94]:
merged

,Name,Property Title,Price,Location,Total_Area,Price_per_SQFT,Description,Baths,Balcony,Zone,Location_y,Temperature,Humidity,Wind Speed,Precipitation (%),Atmospheric Pressure,UV Index,Visibility (km)
0,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes,coastal,coastal,25.665640,65.320919,9.525203,47.663400,1010.890865,4.724447,6.114674
1,"Ramanathan Nagar, Pozhichalur,Chennai",10 BHK Independent House for sale in Pozhichal...,₹2.25 Cr,"Ramanathan Nagar, Pozhichalur,Chennai",7000,3210.0,Looking for a 10 BHK Independent House for sal...,6,Yes,coastal,coastal,25.665640,65.320919,9.525203,47.663400,1010.890865,4.724447,6.114674
2,DAC Prapthi,"3 BHK Flat for sale in West Tambaram, Chennai",₹1.0 Cr,"Kasthuribai Nagar, West Tambaram,Chennai",1320,7580.0,"Property for sale in Tambaram, Chennai. This 3...",3,No,coastal,coastal,25.665640,65.320919,9.525203,47.663400,1010.890865,4.724447,6.114674
3,"Naveenilaya,Chepauk, Triplicane,Chennai",7 BHK Independent House for sale in Triplicane...,₹3.33 Cr,"Naveenilaya,Chepauk, Triplicane,Chennai",4250,7840.0,Entire Building for sale with 7 units of singl...,5,Yes,coastal,coastal,25.665640,65.320919,9.525203,47.663400,1010.890865,4.724447,6.114674
4,VGN Spring Field Phase 1,"2 BHK Flat for sale in Avadi, Chennai",₹48.0 L,"Avadi, Chennai",960,5000.0,"Property for sale in Avadi, Chennai. This 2 BH...",3,Yes,coastal,coastal,25.665640,65.320919,9.525203,47.663400,1010.890865,4.724447,6.114674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14523,"Krishna Park Extension, Tilak Nagar,New Delhi","2 BHK Flat for sale in Tilak Nagar, New Delhi",₹40.0 L,"Krishna Park Extension, Tilak Nagar,New Delhi",1053,3800.0,Looking for a good 2 BHK Apartment in Tilak Na...,3,Yes,inland,inland,16.827243,70.235257,10.076308,56.145349,1004.536742,3.780731,5.181167
14524,"Rawta, Jaffarpur Kalan,New Delhi",1 BHK Independent House for sale in Jaffarpur ...,₹14.0 L,"Rawta, Jaffarpur Kalan,New Delhi",472,2970.0,1 BHK Independent House for sale in Jaffarpur ...,2,Yes,inland,inland,16.827243,70.235257,10.076308,56.145349,1004.536742,3.780731,5.181167
14525,"Rani Garden, Geeta Colony,New Delhi","1 BHK Flat for sale in Geeta Colony, New Delhi",₹30.0 L,"Rani Garden, Geeta Colony,New Delhi",378,7940.0,"Property for sale in Geeta Colony, Delhi. This...",1,Yes,inland,inland,16.827243,70.235257,10.076308,56.145349,1004.536742,3.780731,5.181167
14526,"Lig flat rohini,Sector 16E, Sector 16 Rohini,N...","3 BHK Flat for sale in Sector 16 Rohini, New D...",₹60.0 L,"Lig flat rohini,Sector 16E, Sector 16 Rohini,N...",700,8570.0,Check out this 3 BHK Apartment for sale in Roh...,2,Yes,inland,inland,16.827243,70.235257,10.076308,56.145349,1004.536742,3.780731,5.181167
14527,"Sector 3B, Sector 3 Rohini,New Delhi",1 RK Independent House for sale in Sector 3 Ro...,₹55.0 L,"Sector 3B, Sector 3 Rohini,New Delhi",344,15990.0,This is an independent DDA house(in raw condit...,1,Yes,inland,inland,16.827243,70.235257,10.076308,56.145349,1004.536742,3.780731,5.181167

In [3]:
read=pd.read_csv("C://Users//nisha//Downloads//Real_Estate.csv")

In [5]:
read

,Unnamed: 0,Name,Property Title,Price,Location,Total_Area,Price_per_SQFT,Description,Baths,Balcony,...,Temperature (°C),Condition,Humidity (%),Wind Speed (km/h),Last Updated,Title,Duration,Year,Disaster_Info,Date
0,0,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes,...,24.3,Mist,89,10.1,2025-01-23 23:15:00,1990 Andhra Pradesh cyclone,4 May,1990,the andhra pradesh cyclone or the machilipat...,1990-05-04
1,1,"Ramanathan Nagar, Pozhichalur,Chennai",10 BHK Independent House for sale in Pozhichal...,₹2.25 Cr,"Ramanathan Nagar, Pozhichalur,Chennai",7000,3210.0,Looking for a 10 BHK Independent House for sal...,6,Yes,...,24.3,Mist,89,10.1,2025-01-23 23:15:00,1990 Andhra Pradesh cyclone,4 May,1990,the andhra pradesh cyclone or the machilipat...,1990-05-04
2,2,DAC Prapthi,"3 BHK Flat for sale in West Tambaram, Chennai",₹1.0 Cr,"Kasthuribai Nagar, West Tambaram,Chennai",1320,7580.0,"Property for sale in Tambaram, Chennai. This 3...",3,No,...,24.3,Mist,89,10.1,2025-01-23 23:15:00,1990 Andhra Pradesh cyclone,4 May,1990,the andhra pradesh cyclone or the machilipat...,1990-05-04
3,3,"Naveenilaya,Chepauk, Triplicane,Chennai",7 BHK Independent House for sale in Triplicane...,₹3.33 Cr,"Naveenilaya,Chepauk, Triplicane,Chennai",4250,7840.0,Entire Building for sale with 7 units of singl...,5,Yes,...,24.3,Mist,89,10.1,2025-01-23 23:15:00,1990 Andhra Pradesh cyclone,4 May,1990,the andhra pradesh cyclone or the machilipat...,1990-05-04
4,4,VGN Spring Field Phase 1,"2 BHK Flat for sale in Avadi, Chennai",₹48.0 L,"Avadi, Chennai",960,5000.0,"Property for sale in Avadi, Chennai. This 2 BH...",3,Yes,...,24.3,Mist,89,10.1,2025-01-23 23:15:00,1990 Andhra Pradesh cyclone,4 May,1990,the andhra pradesh cyclone or the machilipat...,1990-05-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10294,10294,"Hari vihar,Sector 16 Dwarka, New Delhi",2 BHK Independent House for sale in Sector 16 ...,₹45.0 L,"Hari vihar,Sector 16 Dwarka, New Delhi",450,10000.0,"Property for sale in Sector 16, Dwarka, Delhi....",2,No,...,15.3,Mist,72,9.4,2025-01-23 23:15:00,Indian Airlines Flight 427,24 and 25 April,1993,indian airlines flight a domestic passenger f...,1993-04-24
10295,10295,DDA Janta Flat,"3 BHK Flat for sale in Sector 15 Rohini, New D...",₹70.0 L,"Sector 15B, Sector 15 Rohini,New Delhi",900,7780.0,One of the finest property in Sector 15 Rohini...,3,No,...,15.3,Mist,72,9.4,2025-01-23 23:15:00,Indian Airlines Flight 427,24 and 25 April,1993,indian airlines flight a domestic passenger f...,1993-04-24
10296,10296,"Bulder floor,Jaitpur, New Delhi","1 BHK Flat for sale in Jaitpur, New Delhi",₹9.0 L,"Bulder floor,Jaitpur, New Delhi",200,4500.0,Best 1 BHK Apartment for modern-day lifestyle ...,1,No,...,15.3,Mist,72,9.4,2025-01-23 23:15:00,Indian Airlines Flight 427,24 and 25 April,1993,indian airlines flight a domestic passenger f...,1993-04-24
10297,10297,"Krishna Park Extension, Tilak Nagar,New Delhi","2 BHK Flat for sale in Tilak Nagar, New Delhi",₹40.0 L,"Krishna Park Extension, Tilak Nagar,New Delhi",1053,3800.0,Looking for a good 2 BHK Apartment in Tilak Na...,3,Yes,...,15.3,Mist,72,9.4,2025-01-23 23:15:00,Indian Airlines Flight 427,24 and 25 April,1993,indian airlines flight a domestic passenger f...,1993-04-24
10298,10298,"Lig flat rohini,Sector 16E, Sector 16 Rohini,N...","3 BHK Flat for sale in Sector 16 Rohini, New D...",₹60.0 L,"Lig flat rohini,Sector 16E, Sector 16 Rohini,N...",700,8570.0,Check out this 3 BHK Apartment for sale in Roh...,2,Yes,...,15.3,Mist,72,9.4,2025-01-23 23:15:00,Indian Airlines Flight 427,24 and 25 April,1993,indian airlines flight a domestic passenger f...,1993-04-24

In [7]:
read.isnull().sum()

Unnamed: 0           0
Name                 0
Property Title       0
Price                0
Location             0
Total_Area           0
Price_per_SQFT       0
Description          0
Baths                0
Balcony              0
City                 0
State/UT             0
District             0
Temperature (°C)     0
Condition            0
Humidity (%)         0
Wind Speed (km/h)    0
Last Updated         0
Title                0
Duration             0
Year                 0
Disaster_Info        0
Date                 0
dtype: int64

In [15]:
read.columns

Index(['Unnamed: 0', 'Name', 'Property Title', 'Price', 'Location',
       'Total_Area', 'Price_per_SQFT', 'Description', 'Baths', 'Balcony',
       'City', 'State/UT', 'District', 'Temperature (°C)', 'Condition',
       'Humidity (%)', 'Wind Speed (km/h)', 'Last Updated', 'Title',
       'Duration', 'Year', 'Disaster_Info', 'Date'],
      dtype='object')

In [11]:
read.duplicated().sum()

0

In [17]:
read['Wind Speed (km/h)'].unique()

array([10.1, 13.3,  4.7,  9. ,  3.6,  9.4])